.buscar {
    width: 255px;
    height: 32px;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    border: 2px solid gray;
    border-radius: 8px;
    margin: 5px;
    padding: 2px 5px;
}

.buscar input {
    border: 0;
    padding: 5px;
    width: 100%;
    outline: none; /*Remover el borde que aparece al seleccionar el input*/
}

.buscar input::placeholder{
    color: grey;
}