.googleButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 258px;
    max-width: 400px;
    height: 10%;
    gap: 10px;
    border-radius: 10px;
    margin-inline: auto;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    background-color: var(--black-50);
}

.googleButton img{
    height: 80%;
}

.googleButton p{
    color: var(--black-950);
    text-transform: uppercase;
}
