.home_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: min(50px,10dvh);
    gap: min(50px,10dvh);
    padding-bottom: min(50px,10dvh);
}

html {
    overflow: auto;
}

@media screen and (max-width: 500px) {
    .home_main {
        width: 100%;
    }
}