.home_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: min(50px,10dvh);
}

@media screen and (max-width: 500px) {
    .home_main {
        width: 90%;
    }
}