.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    padding-top: 82px;
}

.login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 32px;
    color: var(--black-950);
    background-color: var(--black-50);
}

.login_title {
    font-size: var(--font-size-xl);
    font-weight: bold;
    line-height: 3.6rem;
    margin-bottom: 40px;
}

.login_formLogin {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

.login_formLogin > label {
    display: flex;
    flex-direction: column;
    width: clamp(258px, 100%, 400px);
    font-size: var(--font-size-base);
    line-height: 2.4rem;
}

.login_formLogin .formLogin_input {
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    border: 1px;
    border-radius: 4px;
    margin-top: 4px;
    font-size: var(--font-size-base);

    line-height: 1.6rem;
    box-shadow: 0 2px 2px 2px var(--black-100);
}

.login_formLogin input:focus-within {
    outline: none;
}

.login_formLogin .formLogin_input::placeholder {
    color: #cccccc;
}

.formLogin_btn {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    background-color: var(--brandy-punch-600);
    color: var(--black-50);
}

.formLogin_text {
    text-align: center;
    font-weight: bold;
    color: var(--black-300);    
}

.formLogin_text > span {
    color: var(--swans-down-700);
}

.login_message {
    display: none;
}

.googleButton_container {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .login_title {
        text-align: center;
    }

    .login_formLogin {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 900px) {
    .login {
        position: relative;
        justify-content: end;
    }
    .login_container {
        width: 50%;
    }
    .login_message {
        position: fixed;
        top: 82px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 18px;
        width: 50%;
        height: calc(100dvh - 82px);
        padding: 5%;
        color: #FFF;
        background: linear-gradient(45deg, var(--brandy-punch-950), var(--brandy-punch-600), var(--brandy-punch-300));
    }

    .login_message > h3 {
        font-size: var(--font-size-3xl);
        font-weight: bold;
        line-height: 5.4rem;
        text-wrap: pretty;
        text-shadow: 4px 4px 0 #ccc4;
    }

    .login_message > p {
        font-size: var(--font-size-md);
        line-height: 2.4rem;
        text-shadow: 4px 4px 0 #ccc4;
    }

    .message_overlay {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        aspect-ratio: 1/1;
        background-image: url('../../assets/images/zowl-white.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        filter: opacity(0.2);
    }

    .googleButton_container {
        display: none;
    }
}