.SAPIMain {
    min-height: 100dvh;
}

.SAPIContent {
    margin-left: 100px;
    background-color: white; /* Agrega un fondo blanco */
}

.SAPIAdmin {
    min-height: 100dvh;
    height: 100vh;
    
}

.SAPIAdminContent {
    margin-left: 100px;
    background-color: white; /* Agrega un fondo blanco */
    height: 100vh;

}
/*background-image: url('../../assets/images/zowl-white.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;*/