.signup {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10%;
    background-image: url('public/images/form-background.png');
    background-position: center;
    background-size: cover;
    background-repeat:  no-repeat;
}

.signup_volver{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    font-size: 1.8em;;
    color: var(--swans-down-200);
    background-color: transparent;
    border: none;
}

.signup_form{
    width: 34%;
    height: 80%;
    background-color: var(--swans-down-700);
    border: 2px solid var(--swans-down-900);
    border-radius: 75px;
    padding: 2%;
    padding-inline: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    box-shadow: 0 0 50px 2px var(--black-700);
    z-index: 2;
}

.signup_form_formulario{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

.signup_form_h2{
    font-size: 2em;
    font-weight: 700;
    color: var(--black-100);
    text-align: center;
    letter-spacing: 1px;
}

.signup_form_p{
    font-size: 1em;
    font-weight: 300;
    color: var(--black-200);
    text-align: center;
    letter-spacing: 2px;
    line-height: 160%;
}

.signup_form_inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    gap: 5px;
}



.signup_form_input{
    background-color: var(--black-50);
    height: 18%;
    padding-left: 1.5em;
    border: 2px solid var(--brandy-punch-900);
    border-radius: 10px;
    font-size: 1.1em;
    color: var(--black-600);
}

.signup_form_input::placeholder{
    color: var(--black-300);
}

.signup_form_button{
    height: 18%;
    background-color: var(--brandy-punch-600);
    color: var(--black-50);
    border-radius: 10px;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

.signup_rectangle{
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.signup_rectangle:last-child{
    transform: rotate(900deg);
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 500px) {
    .signup_form{
        width: 90%;
        height: 70%;
        padding: 10%;
        padding-inline: 7%;
    }

    .signup_rectangle{
        width: 90%;
    }   
}

@media (max-height: 500px) and (orientation: landscape){
    .signup_form_h2{
        display: none;
    }
    .signup_form_p{
        display: none;
    }
    .signup_form{
        border-radius: 20px;
    }
}