.sobreNosotros {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.sobreNosotros_main {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 7.8rem;
    align-items: center;
}