.Cabecera_MyCourses{
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-lg);
    align-items: center;
}

.BarCourses{
    display: flex;
    padding-inline: 10px ;
    align-items: center;
}

.BarCourses img{

    margin: 5px;
}
