
.wrapper {
  color: black;
  width: 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 5px;
  font-size: 5 rem;
}
.wrapper img{
    height: 20px;
    width: 20px;
}

.wrapper header {
  font-size: 5 rem;
  text-align: center;
}

header .current-date {
  font-size: 2.5rem;
}

header .icons span {
  height: 20px;
  width: 20px;
  font-size: 0.3rem;
  line-height: 10px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 10px;
  font-size: 3rem;
  user-select: none;
  border-radius: 50%;
}

.calendar {
  padding: 5px;
}

.calendar ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Asegura que haya 7 columnas */
  gap: 1px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.weeks li {
  font-weight: bold;
  margin: 0.3rem;
}

.calendar .days li {
  width: 100%;
  padding: 2px;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 4px;
}

.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 20px;
  width: 20px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
} 
