.EnrolledHeader{
    display: flex;
    justify-content: space-between;
}
   .EnrolledHeader h2 {
    color: black; 
    font-size: 1.5rem;
  }
  
  .Boton_vercatalogo p {
    color: black; 
    font-size: 1.5rem;
  }

.EnrolledHeader h2{
    font-size: 2.5rem;
}

.Boton_vercatalogo{
    background-color: #9ac6c3;
    color: rgb(103, 33, 33);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Boton_vercatalogo img{
    width: 48px;
    height: 48px;

}

.CursoProgreso{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.CursoProgreso .icono{
width: 60px;height: 60px;
}

.TextoCursoProgreso{
    margin-left: -40%;
}
.TextoCursoProgreso div{
    display: flex;
    margin-top: -20px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.TextoCursoProgreso div img{
    height: 5px;
    margin: 5px;
}

.cursocomplet{
    background-color: #c48430;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

}

.inforcurso{
    display: flex;
    gap: 2.5rem;
}