.card {
    background-color: var(--brandy-punch-500);
    border-radius: 20px;
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 1rem;
    padding: 2rem;
    color: var(--color-secondary);
    text-wrap: pretty;
}

.card:nth-child(2n) {
    background-color: var(--swans-down-500);
    color: var(--color-text);
}

.card_title {
    font-size: 2.2rem;
}

.card_text {
    font-size: 1.4rem;
    padding-inline: 0.8em;
    letter-spacing: 0.05em;
    text-wrap: pretty;
}

.card_img {
    width: 80px;
    padding: 10px;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 100px;
    overflow: visible;
}

.card_btn {
    background-color: var(--swans-down-800);
    color: var(--color-text);
    border: 0;
    height: 3em;
    width: 70%;
    border-radius: 100px;
    padding-inline: 10px;
    margin-top: auto;
}

.card:nth-child(2n)>.card_btn{
    background-color: var(--brandy-punch-800);
    color: var(--color-secondary);
}

@media (prefers-color-scheme: light) {
    .card_btn {
        background-color: var(--swans-down-400);
    }
    .card:nth-child(2n)>.card_btn {
        background-color: var(--brandy-punch-200);
    }
}