.ProgresoCurso-contenido {
    display: flex;
    align-items: flex-start;
}

.ProgresoCurso-contenido > div:first-child {
    flex: 1;
    margin-right: 20px;
}

.ProgresoCurso-contenido > Calendario {
    flex: 1;
}

.ProgresoCurso-contenido img {
    max-width: 100%;
    height: auto;
}