.ProgresoCurso{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.ProgresoCurso-contenido > div:first-child {
    flex: 1;
    margin-right: 20px;
}

.ProgresoCurso-contenido > Calendario {
    flex: 1;
}
.ProgresoCurso-contenido{
    display: flex;
}
.ProgresoCurso-contenido img {
    max-width: 100%;
    height: auto;
}
.ProgresoCurso-contenido div h2 {
    font-size: 2.5rem;
    color: black;
}