.sapi_grid {
    width: 80%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(6, minmax(40px,1fr));
    grid-template-rows: minmax(100px, min-content) minmax(100px, min-content) minmax(100px, min-content);
    align-items: center;
    margin: auto;
    gap: 20px;
}

.sapi_element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #333;
    border-radius: 2.5rem;
    padding-inline: 20px;
    text-wrap: pretty;
}

.sapi_element p{
    font-size: 1.5rem;
    font-weight: 700;
}

.sapi_text {
    grid-column: span 3;
    grid-row: span 1;
}

.sapi_title {
    grid-column: span 3;
    grid-row: span 1;
    color: #333;
    font-weight: 900;
    letter-spacing: 2px;
    align-items: center;
    font-size: 3em;
}

.sapi_title h2{
    display: block;
    width: min-content;
    margin: auto;
}

.sapi_materias {
    text-align: center;
}

.sapi_materias span {
    color: var(--color-primary);
}

.sapi_ceo {
    grid-column: span 3;
    grid-row: span 2;
}

.sapi_ceo, .sapi_pet{
    padding: 0 !important;
}

.sapi-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 40% 50%;
}

.sapi-yellow {
    background-color: var(--color-primary);
}

.sapi_materias p, .sapi_description p{
    font-size: 2.5rem;
}

.sapi_materias, .sapi_description, .sapi_pet {
    grid-column: span 2;
}

@media screen and (max-width: 500px) {
    .sapi_element {
        grid-area: span 1/ span 2;
        border-radius: 20px;
    }

    .sapi_element p{
        font-size: 1em;
    }
    
    .sapi_title{
        font-size: 1rem;
        grid-area: span 1/span 4;
    }

    .sapi_grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
        grid-auto-rows: min-content;
        gap: 15px;
    }
    .sapi_text {
        grid-area: span 1/span 4;
    }
    .sapi_materias {
        order: 1;
    }
}
