.benefits{
    width: 80%;
    display: grid;
    grid-template-areas: 
    'title text1'
    'title text2'
    'title text3';
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 2em;
    margin: 3em auto;
}

.benefits_title {
    grid-area: title;
    place-content: center;
}

.benefits_title>.title-text {
    width: fit-content;
    text-wrap: balance;
    margin: auto;
    font-size: 3em;
}

.benefits_text {
    place-content: center;
    padding-inline: 2em;
    background-color: var(--brandy-punch-400);
    min-height: 5em;
    border-radius: 1em;
}

.benefits>.benefits_text:nth-child(2) {
    background-color: var(--swans-down-600);
}

.benefits>.benefits_text:nth-child(3) {
    background-color: var(--brandy-punch-600);
}

.benefits>.benefits_text:nth-child(4) {
    background-color: var(--black-600);
}

@media screen and (max-width: 500px) {
    .benefits {
        grid-template-areas: 
        'title'
        'text1'
        'text2'
        'text3';
        grid-template-columns: 1fr;
    }
}

@media (prefers-color-scheme: light) {
    .benefits>.benefits_text:nth-child(2) {
        background-color: var(--swans-down-200);
    }
    
    .benefits>.benefits_text:nth-child(3) {
        background-color: var(--brandy-punch-200);
    }
    
    .benefits>.benefits_text:nth-child(4) {
        background-color: var(--black-200);
    }
}