.SAPIcurses{
    overflow-x: hidden;
    color: #1C1B1F;
    padding: 20px;
    height: 100vh;
    font-size: 2rem;
    text-shadow: 2px 2px 4px var(--brandy-punch-400);
}

.Enrolled {
    max-width: 920px;
    
}