.CreateUser{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background: linear-gradient(45deg, var(--brandy-punch-950), var(--brandy-punch-600), var(--brandy-punch-300));
  }

.Header_CreateUser{
  display: flex;
}

.btn-volver{
  background-color: transparent;
}

.btn-volver img {
    width: 30px;
    height: 30px;
    appearance: none;
    margin-right: 10rem;
}

.CreateUser_container {
    max-width: 70%;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.CreateUser_title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.CreateUser_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.CreateUser_form label p{
  color: black;
  text-align: left;
  font-size: var(--font-size-base);
  font-weight: bold;
  margin-bottom: 1rem;
}

.CreateUser_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form_btn {
    background: var(--swans-down-700);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form_btn:hover {
    background: var(--swans-down-500);
}



input[type="file"] {
    border: none;
    padding: 5px;
    font-size: 14px;
    color: black;
}

.CreateUser_form_container {
    display: flex;
    justify-content: space-between;
  }
  
  .CreateUser_form {
    width: 100%;
  }
  
  .image-preview-container {
    display: block;
    flex-direction: column;
    height: 100%;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 20px; /* Espacio entre el formulario y la imagen */
    border: 0px solid;
  }
  
  .image-preview {
    text-align: center;
    height: 200px;
    width: 200px;
    margin-top: 10rem;
  }
  
  .image-preview-img {
    border-radius: 50%;
    height: 200px !important;
    width: 200px !important;
    display: block !important;
  }
  
  .input-with-icon {
    position: relative;
  }
  
  .input-with-icon input {
    width: 100%;
    padding-right: 35px;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  