.footer {
    background-color: var(--brandy-punch-500);
    height: fit-content;
    padding: 2% 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
    border-radius: 8px 8px 0px 0px;
}

.footer_section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_section p{
    color: var(--color-dark);
}

.footer_section_title{
    font-weight: 700;
    font-size: var(--font-size-2xl);
    line-height: 2.4rem;
    margin: 1rem 0;
    color: var(--color-dark);
}

@media (max-width: 500px) {
    .footer{
        height: 28vh;
    }
    .footer_section .main-logo{
        display: none;
    }
    .footer_section_materias{
        display: none;
    }

    .footer_section {
        font-size: 0.75rem;
        gap: 1px;
    }
}

.footer_item{
    list-style-type: none;
}

.footer_item p {
    font-size: var(--font-size-lg);
    line-height: 1.8rem;
}