.vision {
    width: 70%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(5rem, min-content));
    grid-template-areas: 
    'title text1'
    'image text2'
    'image text3';
    gap: 1.5rem;
}

.vision_element {
    height: min-content;
    background-color: var(--black-700);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.vision_element:has(h2, p) {
    padding-inline: 2rem;
}

.vision_title {
    grid-area: title;
    text-wrap: balance;
    background-color: var(--brandy-punch-400);
}


.vision_image {
    grid-area: image;
}

.vision_image>.image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vision_description {
    text-wrap: pretty;
}

.vision_description>.description-image {
    height: 50%;
    width: 50%;
    overflow: hidden;
}

.vision_description>p>span{
    color: var(--brandy-punch-400)
}