.vision {
    width: 70%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(5rem, min-content));
    grid-template-areas: 
    'title text1'
    'image text2'
    'image text3';
    gap: 2rem;
}

.vision_element {
    height: min-content;
    background-color: var(--black-700);
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
    line-height: 160%;
    font-size: var(--font-size-md);
}

.vision_title {
    grid-area: title;
    text-wrap: balance;
    font-size: var(--font-size-3xl);
    background-color: var(--brandy-punch-400);
}

.title-h2 {
    font-size: var(--font-size-3xl);
}


.vision_image {
    padding: 0;
    grid-area: image;
}

.vision_image>.image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vision_description {
    text-wrap: pretty;
}

.vision_description>.description-image {
    height: 50%;
    width: 50%;
    overflow: hidden;
}

.vision_description>p>span{
    color: var(--brandy-punch-400)
}

.vision_title {
    background-color: var(--swans-down-700);
}

.vision_element:nth-child(3) {
    background-color: var(--brandy-punch-400);
}

.vision_element:nth-child(5) {
    background-color: var(--swans-down-700);
}

@media screen and (max-width: 900px) {
    .vision_element{
        font-size: 1.5rem;
    }

    .vision_title {
        font-size: 3rem;
    }

    .description-image {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .vision {
        grid-template-areas: 
        'title'
        'image'
        'text1'
        'text2'
        'text3';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,minmax(50px, min-content));
    }
}

@media (prefers-color-scheme: light) {
    .vision_element {
        background-color: var(--black-200);
    }

    .vision_title {
        background-color: var(--swans-down-200);
    }
    
    .vision_element:nth-child(3) {
        background-color: var(--brandy-punch-300);
    }
    
    .vision_element:nth-child(5) {
        background-color: var(--swans-down-200);
    }
}