.proposito {
    width: 70%;
    display: grid;

    grid-auto-flow: dense;
    grid-template-areas:
    'image image image title title title'
    'image image image text1 text1 text1'
    'second_image second_image text2 text2 text3 text3';
    gap: 1rem;
    height: min-content;
}

.proposito_element {
    grid-area: span 1/ span 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--black-700);
    padding-inline: 1rem;
    font-size: 1.5rem;
    text-wrap: pretty;
    overflow-wrap: break-word;
}

.proposito_mainImage {
    grid-area: image;
}

.proposito_title {
    grid-area: title;
    background-color: var(--brandy-punch-400);
}

.proposito_secondImage {
    grid-area: second_image;
}

.proposito_text:nth-child(3){
    grid-area: text1;
}

.proposito_mainImage, .proposito_secondImage{
    height: 100%;
    width: 100%;
    padding: 0;
}

.proposito_mainImage>img, .proposito_secondImage>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.proposito_mainImage, .proposito_secondImage {
    aspect-ratio: 16/13;
}

.proposito_element > p > span {
    color: var(--brandy-punch-400);
}

@media screen and (max-width: 900px) {
    .proposito {
        grid-template-areas: 
        'image image image title title title'
        'text1 text1 text1 text2 text2 text2'
        'second_image second_image second_image text3 text3 text3';
    }

    .proposito_element {
        grid-area: span 1/ span 3;
    }

    .proposito_mainImage {
        grid-area: image;
    }
}

@media screen and (max-width: 500px) {
    .proposito {
        width: 70%;
        grid-template-areas: 
        'title'
        'image'
        'text1'
        'text2'
        'second_image'
        'text3';
    }

    .proposito_element {
        grid-area: span 1/ span 1;
    }

    .proposito_element>p {
        font-size: 1rem;
    }

    .proposito_title {
        grid-area: title;
    }

    .proposito_title>h2 {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

@media (prefers-color-scheme: light) {
    .proposito_element {
        background-color: var(--black-200);
    }

    .proposito_title {
        background-color: var(--brandy-punch-400);
    }
}