.header {
    position: relative;
    z-index: 20;
    width: 100%;
    height: 100dvh;
    view-timeline: --header-view;
}

.header_video {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.header_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #151515bb;
    backdrop-filter: blur(1px);
    animation-name: header-hide;
    animation-fill-mode: both;
    animation-timing-function: view();
    animation-timeline: --header-view;
}

@keyframes header-hide {
    from {
        backdrop-filter: blur(1px);
    }
    to {
        backdrop-filter: blur(10px);
    }
}

    .header_overlay {
      animation-range: contain 0% cover 100%;
    }
  

.header_content {
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.header_title {
    color: var(--black-100);
    font-size: var(--font-size-2xl);
    line-height: 4.2rem;
    text-wrap: balance;
    padding-left: 10px;
}

.header_title>p {
    position: relative;
    color: var(--brandy-punch-400);
}

/*deshabilitada*/
.header_text {
    width: 50%;
    font-size: clamp(10px, 2em, 48px);
    font-weight: bold;
    text-wrap: pretty;
    color: var(--black-200);
}

.header_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 217px;
    min-height: 58px;
    border-radius: 20px;
    color: var(--black-100);
    font-weight: 700;
    font-size: var(--font-size-base);
    line-height: auto;
    text-transform: uppercase;
    background-color: var(--brandy-punch-400);
}

.header_btn::selection {
    user-select: none;
}

@media screen and (min-width: 900px) {
    .header_title {
        font-size: var(--font-size-4xl);
        line-height: 6.2rem;
    }
}