.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    height: 4rem;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: nav-ch-bg;
    animation-fill-mode: both;
    animation-timeline: --main-view;
    animation-range: cover 0% contain 0%;
    color: var(--black-50);
    padding-inline: 1rem;
}

@keyframes nav-ch-bg {
    from {
        background-color: #fff0;
    }
    to {
        background-color: var(--color-text);
        backdrop-filter: blur(15px);
        color: var(--color-background);
    }
}

.nav_logo {
    height: max-content;
    display: flex;
    align-items: center;
}

.logo_img {
    height: 100%;
}

.logo_title {
    font-size: 1.5rem;
    color: var(--brandy-punch-400);
}

.nav_items {
    display: flex;
    list-style-type: none;
    justify-content: end;
    flex: 1;
    color: inherit;
    gap: clamp(2rem, 10%, 10rem);
    padding-right: 2rem;
    margin: 0;
}

.nav_item {
    font-weight: 400;
    letter-spacing: 2px;
    transition: color, text-shadow .5s ease;
    color: inherit;
    display: flex;
    align-items: center;
}

.nav_item>p {
    height: min-content;
    text-align: center;
}

.nav_btn {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav_item:hover {
    color: var(--brandy-punch-200);
}

.item-login {
    padding: 0 5px;
    border: 2px solid var(--brandy-punch-400);
    border-radius: 10px;
}

.item-login:hover {
    background-color: var(--brandy-punch-300);
    color: var(--black-50);
}

.item-signup {
    padding: 0 5px;
    border: 2px solid var(--swans-down-400);
    border-radius: 10px;
}

.item-signup:hover {
    background-color: var(--swans-down-300);
    color: var(--black-50);
}

@media (prefers-color-scheme: light) {
    .nav_item{
        transition: color, text-shadow .5s ease;
    }

}

@media screen and (max-width: 768px) {
    .nav_btn {
        display: block;
    }

    .nav_items {
        position: fixed;
        top: 4rem;
        right: -250px;
        width: 250px;
        height: calc(100dvh - 4rem);
        background: var(--black-700);
        color: var(--color-text);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s;
    }
    
    .nav_items.open {
        right: 0;
    }
    
    .nav-links li {
        margin: 20px 0;
    }
}

@media screen and (max-width: 600px) {

    .nav {
        justify-content: space-between;
        gap: 0;
    }
}

@media (prefers-color-scheme: light) {
    .nav{
        background-color: #0003;
    }
    .logo_img {
        border-radius: 100px;
        filter: drop-shadow(0 0 1px #555);
    }
}

@media screen and (max-width: 768px) and (prefers-color-scheme: light) {
    .nav_items {
        background-color: var(--black-100);
    }
}