.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    min-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: nav-ch-bg;
    animation-fill-mode: both;
    animation-timeline: --main-view;
    animation-range: cover 0% contain 0%;
    color: var(--black-50);
    padding: .5rem 1rem;
}

@keyframes nav-ch-bg {
    from {
        background-color: #0000;
    }
    to {
        background-color: #0009;
        backdrop-filter: blur(20px);
        color: var(--black-50);
    }
}

.nav_btn {
    position: relative;
    z-index: 100;
    display: block;
    font-size: var(--font-size-lg);
    cursor: pointer;
}

.nav_items {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 5vw, 3rem);
    width: 100%;
    height: 100dvh;
    padding-top: 10rem;
    background-color: #3b3b3b;
    filter: opacity(0.975);
    color: var(--black-50);
    transition: right .5s ease;
    list-style-type: none;
}

.nav_items.open {
    right: 0;
}

.nav_logo {
    display: flex;
    align-items: center;
    height: max-content;
}

.logo_img {
    display: none;
    height: 100%;
}

.logo_title {
    font-size: var(--font-size-lg);
    line-height: 2rem;
    font-weight: 700;
    color: var(--brandy-punch-400);
}

.nav_item {
    font-size: var(--font-size-base);
    line-height: 4rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: inherit;
    border-radius: 10px;
    padding: 5px 10px;
    transition: color, background-color .5s ease-in-out;
}

.nav_item:hover {
    color: var(--brandy-punch-300);
    background-color: #3b3b3b22;
}

.item-login {
    padding: 0 5px;
    border: 2px solid var(--brandy-punch-400);
    border-radius: 10px;
}

.item-login:hover {
    background-color: var(--brandy-punch-300);
    font-weight: 700;
    color: var(--black-900);
}

.item-signup {
    padding: 0 5px;
    border: 2px solid var(--swans-down-400);
    border-radius: 10px;
}

.item-signup:hover {
    background-color: var(--swans-down-300);
    font-weight: 700;
    color: var(--black-900);
}

.nav_profile_photo {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--brandy-punch-400);
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
}

@media screen and (min-width: 900px) {
    .nav {
        min-height: 72px;
        padding-inline: clamp(10px,7.5%,92px);
    }
    .logo_img {
        display: initial;
    }

    .nav_btn {
        display: none;
    }
    
    .nav_items {
        position: initial;
        flex-direction: row;
        width: fit-content;
        height: auto;
        padding: 1rem;
        background-color: transparent;
    }

    .nav_item {
        width: max-content;
    }
}