.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 4rem;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: stretch;
    align-items: center;
    animation-name: nav-ch-bg;
    animation-fill-mode: both;
    animation-timeline: --home_main-view;
    animation-range: cover 0% contain 0%;
    color: var(--black-50);
}

@keyframes nav-ch-bg {
    from {
        background-color: #fff0;
    }
    to {
        background-color: var(--color-text);
        backdrop-filter: blur(15px);
        color: var(--color-background);
    }
}

.nav_logo {
    height: max-content;
    display: flex;
    align-items: center;
}

.logo_img {
    height: 100%;
}

.logo_title {
    font-size: 1.5rem;
    color: var(--brandy-punch-400);
}

.nav_items {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex: 1;
    color: inherit;
}

.nav_item {
    font-weight: 400;
    letter-spacing: 2px;
    transition: color, text-shadow .5s ease;
    color: inherit;
}

.nav_item>a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_item:hover {
    color: var(--brandy-punch-800);
    text-shadow: 0 0 15px var(--brandy-punch-700);
}

@media (prefers-color-scheme: light) {
    .nav_item{
        text-shadow: 0 0 10px #000;
        transition: color, text-shadow .5s ease;
    }
    .nav_item:hover {
        color: var(--brandy-punch-200);
        text-shadow: 0 0 5px var(--black-50);
    }
}

@media screen and (max-width: 600px) {

    .nav {
        justify-content: space-between;
        padding-inline: 0;
        gap: 0;
    }
    .logo_title {
        display: none;
    }

    .nav_items {
        width: 100%;
        font-size: 1rem;
        justify-content: space-around;
        padding: 0;
    }
    
    .nav_item {
        padding: 1px;
    }
}

@media (prefers-color-scheme: light) {
    .nav{
        background-color: #0003;
    }
    .logo_title {
        color: var(--color-background);
    }
    .logo_img {
        border-radius: 100px;
        filter: drop-shadow(0 0 1px #555);
    }
}