.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 4rem;
    backdrop-filter: blur(10px);
    background-color: #fff1;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.nav_logo {
    height: max-content;
    display: flex;
    align-items: center;
}

.logo_img {
    height: 100%;
}

.logo_title {
    font-size: 1.5rem;
    color: var(--color-primary);
}

.nav_items {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex: 1;
}

.nav_item {
    font-weight: 400;
    letter-spacing: 2px;
    transition: color .5s ease;
    color: #fff;
}

.nav_item>a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_item:hover {
    color: var(--color-primary);
}

@media (prefers-color-scheme: light) {
    .nav_item{
        text-shadow: 0 0 10px #000;
    }
}

@media screen and (max-width: 600px) {

    .nav {
        justify-content: space-between;
        padding-inline: 0;
        gap: 0;
    }
    .logo_title {
        display: none;
    }

    .nav_items {
        width: 100%;
        font-size: 1rem;
        justify-content: space-around;
        padding: 0;
    }
    
    .nav_item {
        padding: 1px;
    }
}

@media (prefers-color-scheme: light) {
    .nav{
        background-color: #0003;
    }
    .logo_title {
        color: var(--color-background);
    }
    .logo_img {
        border-radius: 100px;
        filter: drop-shadow(0 0 1px #555);
    }
}