.navLateral{
    width: 100px;
    height: 100dvh;
    background-color: var(--swans-down-200);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    padding: 1.5rem;
    gap: 2rem;
    transition: width .1s ease;
}

.navLateral:hover {
    width: 200px;
}

.navLateral_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    width: 100%;
    max-width: 100px;
    font-size: 1.5rem;
    color: var(--swans-down-700);
    transform: translateX(-50%);
}

.navLateral_logo > img {
    width: 90%;
}

.navLateral_logo > p {
    display: none;
    transition: display 0.5s ease;
}

.navLateral:hover .navLateral_logo > p {
    display: inline;
    width: 18rem;
    text-align: center;
}


.navLateral_content{
    height: 100%;
}

.navLateral_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.navLateral_item {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    width: 90%;
    border-radius: 10px;
    font-size: 1.5rem;
    color: var(--swans-down-900);
    transition: background-color 0.75s ease;
}

.navLateral_item > p {
    display: none;
}

.navLateral_item:hover {
    background-color: var(--brandy-punch-300);
}

.navLateral:hover p {
    display: inline;
}

.navLateral_item > img {
    padding: 10px;
    border: 2px solid var(--swans-down-900);
    background-color: var(--swans-down-400);
    border-radius: 10px;
    transition: background-color 0.75s ease ;
}

.navLateral_exit {
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    max-width: fit-content;
    padding: 5px;
    border: 1px solid var(--swans-down-900);
    border-radius: 10px;
    background-color: var(--swans-down-400);
    transform: translate(-50%, -10px);
}

.navLateral_exit > p {
    font-size: 1.5rem;;
    color: var(--black-50);
}