.navLateral {
    width: 100px;
    height: 100vh;
    background-color: var(--swans-down-200);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    padding: 1rem 0.5rem;
    gap: 2rem;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
}

.navLateral:hover {
    width: 180px;
}

.navLateral_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.navLateral_logo > img {
    width: 80%;
    max-width: 70px;
    transition: transform 0.3s ease;
}

.navLateral:hover .navLateral_logo > img {
    transform: scale(1.1);
}

.navLateral_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.navLateral_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.navLateral_item,
.navLateral_exit { /* Aplica las mismas propiedades tanto a los items como al botón de salida */
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%; /* Asegura que los botones ocupen todo el ancho */
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--swans-down-900);
    padding: 1.5rem;
    transition: background-color 0.5s ease, transform 0.3s ease;
    justify-content: flex-start; /* Alinea los botones a la izquierda */
}

.navLateral_item:hover,
.navLateral_exit:hover { /* Aplica hover tanto a los items como al botón de salida */
    background-color: var(--brandy-punch-300);
    transform: scale(1.02); /* Efecto de agrandamiento al hacer hover */
}

.navLateral_item > p,
.navLateral_exit > p {
    display: none;
}

.navLateral:hover .navLateral_item > p,
.navLateral:hover .navLateral_exit > p {
    display: inline;
}

.navLateral_item > img,
.navLateral_exit > svg {
    padding: 5px;
    border: 2px solid var(--swans-down-900);
    background-color: var(--swans-down-400);
    border-radius: 10px;
    transition: background-color 0.5s ease, transform 0.3s ease;
}
