.navLateral{
    width: 100px;
    height: 100dvh;
    background-color: var(--swans-down-200);
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    gap: 2rem;
}

.navLateral:hover {
    width: 200px;
}

.navLateral_logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100px;
}

.navLateral_logo > img {
    width: 90%;
}

.navLateral_content{
    height: 100%;
}

.navLateral_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.navLateral_item {
    padding: 10px;
    border: 2px solid var(--swans-down-900);
    background-color: var(--swans-down-400);
    border-radius: 10px;
    transition: background-color 0.75s ease ;
}

.navLateral_item:hover {
    background-color: var(--brandy-punch-500);
    border: 2px solid var(--brandy-punch-800);
}