/* reportes-container */
.reportes-container {
  font-size: var(--font-size-base);
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

/* reportes-title-container */
.reportes-title-container {
  background-color: var(--swans-down-300);
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* reportes-title */
.reportes-title {
  margin: 0;
  color: var(--black-950);
  font-size: var(--font-size-xl);
}

/* reportes-toolbar */
.reportes-toolbar {
  background-color: var(--swans-down-50);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre los elementos de la barra */
  justify-content: space-between;
}

/* reportes-form-group */
.reportes-form-group {
  display: flex;
  flex-direction: column;
}

/* reportes-label */
.reportes-label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  font-size: var(--font-size-sm);
}

/* reportes-dropdown */
.reportes-dropdown {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: var(--font-size-base);
  min-width: 200px;
}

/* reportes-date-input */
.reportes-date-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: var(--font-size-sm);;
}

/* reportes-generate-button */
.reportes-generate-button {
  background-color: #007bff; /* Azul bonito para el botón */
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: var(--font-size-base);;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end; /* Asegura que el botón se alinee con los demás */
}

/* Hover effect for the button */
.reportes-generate-button:hover {
  background-color: #0056b3;
}

/* Disabled state for the button */
.reportes-generate-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .reportes-toolbar {
    flex-direction: column;
    align-items: stretch; /* Estirar elementos para ocupar todo el ancho */
  }

  .reportes-form-group,
  .reportes-dropdown,
  .reportes-date-input,
  .reportes-generate-button {
    width: 100%; /* Ocupar todo el ancho en pantallas pequeñas */
  }

  .reportes-dropdown {
    min-width: unset; /* Quitar el min-width para que se adapte */
  }
}
