.SAPIHeader {
    position: relative;
    width: 100%;
    height: 100dvh;
}

.SAPIHeader_bg {
    position: absolute;
    width: 100%;
    height: 100dvh;
    z-index: 1;
    background-image: url('public/images/SAPI_header.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.SAPIHeader_bg>img {
    width: 100%;
    height: 100%;
}

.SAPIHeader_overlay {
    position: absolute;
    width: 100%;
    height: 100dvh;
    background-color: #3339;
    backdrop-filter: blur(1px);
    z-index: 10;
    overflow: hidden;
}

.SAPIHeader_circle {
    position: absolute;
    width: clamp(250px, 20dvw, 350px);
    aspect-ratio: 1/1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    clip-path: circle();
    background: transparent;
    border-radius: 50%;
    border: 0.35rem dotted var(--swans-down-400);
    backdrop-filter: opacity(1);
    background: radial-gradient(transparent, var(--swans-down-800));
    z-index: 100;
}

.circle-rotation {
    width: 100%;
    height: 100%;
}

.SAPIHeader_contenido {
    position: absolute;
    left: 10%;
    top: 10%;
    display: flex;
    height: 80%;
    flex-direction: column;
    color: var(--black-200);
    justify-content: space-around;
}

.SAPIHeader_contenido > p {
    display: block;
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: var(--black-300);
    color: var(--black-900);
    font-weight: 700;
    transform: rotate(-3deg);
    border-radius: 0.5rem;
    border: 5px solid var(--swans-down-900);
}

.SAPIHeader_contenido > h2 {
    font-size: 5rem;
    width: fit-content;
    color: var(--brandy-punch-400);
    -webkit-text-stroke: 1px var(--brandy-punch-800);
}

.SAPIHeader_contenido a {
    display: block;
    width: fit-content;
    background-color: var(--swans-down-700);
    padding: 1rem 2rem;
    font-size: 1.5em;
    border-radius: 1rem;
    border: 1px solid var(--swans-down-400);
}

.SAPIHeader_overlay > img {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 900px) {
    .SAPIHeader_circle{
        border-width: 0.2rem;
        width: 15rem;
    }

    .SAPIHeader {
        margin-bottom: 7.5rem;
    }

    .SAPIHeader_contenido {
        height: 60%;
    }

    .SAPIHeader_contenido>h2 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .SAPIHeader_contenido > h2 {
        font-size: 2rem;
    }

    .SAPIHeader_contenido > a {
        font-size: 1rem;
    }

    .SAPIHeader_overlay > img {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    .SAPIHeader_circle {
        border: 0.35rem dotted var(--swans-down-800);
        background: radial-gradient(transparent, var(--swans-down-400));
    }
}