.sn_header{
    min-height: 100dvh;
    position: relative;
    z-index: 1;
}

.sn_overlay {
    width: 100%;
    height: 100%;
    background-color: #3339;
    position: absolute;
    z-index: 20;
}

.sn_video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: absolute;
    z-index: 10;
}

.sn_content {
    position: absolute;
    width: 100%;
    min-height: inherit;
    display: flex;
    align-items: stretch;
    justify-content: center;
    z-index: 30;
}

.sn_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10% 20px;
}

.sn_title {
    font-size: 3.5em;
}
.sn_title>span {
    color: var(--color-primary);
    font-size: 3.5rem;
}

.sn_text {
    font-size: 2rem;
}

.sn_more {
    height: 3rem;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 1.2em;
    font-size: 1.5em;
    color: var(--color-secondary);
    font-weight: 700;
}