.sn_header{
    min-height: 100dvh;
    position: relative;
    z-index: 1;
}

.sn_overlay {
    width: 100%;
    height: 100%;
    background-color: #3339;
    position: absolute;
    z-index: 20;
}

.sn_video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: absolute;
    z-index: 10;
}

.sn_content {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: inherit;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 30;
    overflow: hidden;
    padding-inline-start: 2rem;
    color: var(--black-50);
}

.sn_description {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    min-height: 80%;
    flex: 1;
    justify-content: space-evenly;
    padding: 2rem;
}

.sn_title {
    font-size: var(--font-size-4xl);
    letter-spacing: 0;
}
.sn_title>span {
    color: var(--brandy-punch-400);
}

.sn_text {
    font-size: var(--font-size-xl);
    line-height: 120%;
}

.sn_more {
    height: 3rem;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2em;
    font-size: var(--font-size-base);
    color: var(--black-200);
    font-weight: 700;
    border: 1px solid var(--black-100);
}

.sn_img_container {
    width: 35%;
    flex-shrink: 1;
}

.sn_img {
    overflow: hidden;
    object-fit: cover;
    width: 130%;
    transform: translate(0,15%);
}

@media screen and (max-width: 500px) {
    .sn_img_container {
        display: none;
    }
}