.supervision {
    background-color: var(--black-100);
    color: var(--black-900);
    display: grid;
    grid-template-columns: minmax(60%, 1000px) minmax(15%, 200px) minmax(15%, 200px);
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
    'dashboard usuario usuario'
    'dashboard card card'
    'dashboard card card';
    gap: 1rem;
    padding: 1rem;
    min-height: 100dvh;
}

.supervision_title {
    font-size: var(--font-size-3xl);
    text-align: center;
    width: 100%;
    color: var(--brandy-punch-500);
    background-color: var(--swans-down-200);
    margin: 0;
    border-radius: 10px;
}

.supervision_element {
    display: flex;
    flex-direction: column;
    align-items: start;
    /*justify-content: center;
    */
    background-color: var(--black-50);
    border-radius: 2rem;
    padding: 1rem;
}

.supervision_temas_section {
    display: none;
    grid-area: materia;
}

.supervision_temas {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.temas_element {
    display: flex;
    align-items: center;
    color: var(--black-900);
    font-weight: 500;
    padding: 5px 0;
    flex: 1;
    border-radius: 10px;
    justify-content: center;
}

.element-blue {
    background-color: #77f;
}

.element-red {
    background-color: #f77;
}

.element-orange {
    background-color: #cc7;
    
}

.element-green {
    background-color: #7f7;
}

.temas_element > svg {
    width: 60px;
}

.supervision_profile {
    max-height: fit-content;
    grid-area: usuario;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
}

.supervision_description > img {
    height: 100%;
    max-height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid var(--brandy-punch-400);
}

.supervision_description {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--swans-down-100);
    color: var(--black-950);
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
    flex-wrap: wrap;
}

.supervision_info > p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
}

.supervision_info>p:nth-child(2) {
    font-weight: lighter;
    color: var(--black-700);
}

.supervision_courses {
    margin-inline: auto;
}

.courses-unit, .courses-course {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.courses-course > p , .courses-unit > p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: normal;
}

.supervision_courses span {
    font-size: 2rem;
    line-height: 2.8rem;
}

.supervision_dashboard {
    grid-area: dashboard;
    overflow: hidden;
    background-color: var(--brandy-punch-100);
}

.supervision_dashboard>img {
    width: 100%;
}

.supervision_materias {
    padding: 1rem;
    display: grid;
    grid-area: 2 / 2 / span 2 / span 2;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    gap: 1rem;
}

/** desde aqui puede separarse */
.supervision_card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    color: var(--black-900);
    gap: 0.5rem;
    border: 2px solid var(--black-100);
}

.supervision_card>h4,.supervision_card>p {
    margin: 0;
}

.supervision_card> img {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.supervision_card > svg {
    background-color: orange;
    border-radius: .5rem;
    padding: 0.25rem;
}

.supervision_card:nth-child(2) > svg {
    background-color: red;
}

.supervision_card:nth-child(3) > svg {
    background-color: blue;
}

.supervision_card:nth-child(4) > svg {
    background-color: green;
}

/*cuidado aqui*/


.supervision_profile > h3, .supervision_materias > h3, .supervision_dashboard > h3 {
    font-size: 3rem;
    line-height: 3.8rem;
    font-weight: 700;
    margin: 1rem;
}

.supervision_materias > p {
    font-size: 1.5rem;
    line-height: 2.8rem;
    grid-area: 2 / span 2;
    text-align: center;
}

.supervision_dashboard > section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.supervision_dashboard > section > button {
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background-color: var(--swans-down-500);
}

.supervision_dashboard > section > button:nth-child(2n) {
    background-color: var(--brandy-punch-400);
}


.supervision_ejercicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.supervision_ejercicios > h3 {
    font-size: var(--font-size-2xl);
}

.ejercicios-info {
    background-color: var(--swans-down-100);
    width: 90%;
    height: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.info-text {
    font-size: var(--font-size-lg);
    line-height: 2.4rem;
    margin: 2px auto;
}

@media screen and (max-width: 900px) {
    .supervision_temas {
        gap: 1px;
        flex-flow: wrap;
    }
    
    .temas_element {
        font-size: 0.75em;
        flex: 1;
        max-width: none;
    }

    .temas_element>svg {
        width: 30px;
    }

    .supervision_materias {
        width: 100%;
        grid-area: card;
        display: flex;
        flex-direction: column;
        font-size: 0.75em;
    }
}

.recharts-legend-item-text {
    font-size: 1.7rem;
    font-weight: bold;
}

.recharts-surface tspan{
    font-size: 2rem;
}

@media screen and (max-width: 900px) {
    .supervision{
        grid-template-areas: 
        'materia materia materia'
        'dashboard dashboard dashboard'
        'card card card';
    }

    .supervision_profile {
        display: none;
    }
}
