body {
  margin: 0;
  min-height: 100dvh;
  background-color: var(--color-background) !important;
  color: var(--color-text) !important;
  /*si hay problemas con el color del texto, quitar lo de abajo*/
  font-family: Raleway;
  min-height: 100dvh;
}

main {
  view-timeline: --main-view;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
