body {
  margin: 0;
  min-height: 100dvh;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Raleway;
  min-height: 100dvh;
}

main {
  view-timeline: --main-view;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
