body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Raleway;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}
